* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

nav {
    background-color: #110422;
    background: linear-gradient(to left, #000000, #110422);
}

#start {
    display: flex;
    align-items: center;
    height: 100dvh;
    background-image:
        url('https://images.unsplash.com/photo-1607743386760-88ac62b89b8a?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
    background-position: center;
}

h2 {
    margin: 1rem;
    font-weight: 600;
}

p {
    margin: 1rem;
    text-align: justify;
}

.content {
    margin: 1rem;
    padding: .1rem;
    border-radius: 0.3rem;
    box-shadow: 0 0 0.5rem rgba(255, 255, 255, 0.466);
    text-align: justify;
}

footer {
    padding: .5rem;
    background-color: #000000;
    color: #ffffffd0;
}

footer p {
    text-align: center;
}